<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="shortcut icon" href="../static/imgs/icono.ico"> 
    <!--
        rel="shortcut icon" --establece un icono  
        href="../static/imgs/icono.ico" --Un punto (. directorio actual) dos puntos (.. retrocede un directorio)
    -->
</head>
<body>
    <h1>{{parametro_titulo}}</h1>
    {% for value in parametro_lista %}
    <p>{{ value }}</p>
    {% endfor %}
</body>
</html>