{% extends 'layout.html' %}

{% block titulo %}
Login
{% endblock  %}

{% block contenido %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_signup_style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <style>
        #image{
            opacity: 1;
            padding-left: 20px;
        }
    </style>

    <div class="register">
        <h1>Sign-Up</h1>
        <div class="links">
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('signup')}}" class="active">Sign-Up</a>
        </div>

        <form action="signup" method="post" enctype="multipart/form-data">
            <label for="txt_idusuario"><i class="fas fa-user"></i></label>
            <input type="text" name="txt_idusuario" placeholder="ID Usuario" id="txt_idusuario" maxlength="15" required>

            <label for="txt_contraseña"><i class="fas fa-lock"></i></label>
            <input type="password" name="txt_contraseña" placeholder="Contraseña" id="txt_contraseña" maxlength="4" required>

            <label for="txt_dni"><i class="fas fa-hashtag"></i></label>
            <input type="text" name="txt_dni" placeholder="DNI" id="txt_dni" maxlength="8" minlength="8" required>

            <label for="txt_nombre"><i class="fas fa-address-card"></i></label>
            <input type="text" name="txt_nombre" placeholder="Nombre" id="txt_nombre" maxlength="80" required>

            <label for="txt_email"><i class="fas fa-envelope"></i></label>
            <input type="email" name="txt_email" placeholder="Email" id="txt_email" maxlength="80" required>

            <input type="file" class="custom-file-input" name="image" id="image" required>
            
            <div class="msg">{{msg}}</div>
            <input type="submit" value="Registrar">
        </form>
    </div>
{% endblock %}



